<nav class="navbar sticky-top navbar-expand-sm navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Keycloak Demo</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav flex-fill">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{environment.apiBasePath}}" target="_blank">API</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <ul ngbNav #nav="ngbNav" [(activeId)]="activeTab" [destroyOnHide]="false" class="nav-tabs pt-5">
    <!-- Get application name -->
    <li [ngbNavItem]="1">
      <button ngbNavLink>Get application name</button>
      <ng-template ngbNavContent>
        <app-request title="Get application name" protection="anonymous" [request]="getApplicationName"></app-request>
      </ng-template>
    </li>
    <!-- Get current user -->
    <li [ngbNavItem]="2">
      <button ngbNavLink>Get current user</button>
      <ng-template ngbNavContent>
        <app-request title="Get current user" protection="anonymous" [request]="getCurrentUser" [resultDepth]="0"></app-request>
      </ng-template>
    </li>
    <!-- Get articles -->
    <li [ngbNavItem]="3">
      <button ngbNavLink>Get articles</button>
      <ng-template ngbNavContent>
        <app-request title="Get articles" protection="anonymous" [request]="readArticles"></app-request>
      </ng-template>
    </li>
    <!-- Get article -->
    <li [ngbNavItem]="4">
      <button ngbNavLink>Get article</button>
      <ng-template ngbNavContent>
        <app-request title="Get article" protection="anonymous" [request]="readArticle" [requestData]="readArticleData"></app-request>
      </ng-template>
    </li>
    <!-- Add article -->
    <li [ngbNavItem]="5">
      <button ngbNavLink>Add article</button>
      <ng-template ngbNavContent>
        <app-request title="Add article" protection="anonymous" [request]="createArticle" [requestData]="createArticleData"></app-request>
      </ng-template>
    </li>
    <!-- Remove article -->
    <li [ngbNavItem]="6">
      <button ngbNavLink>Remove article</button>
      <ng-template ngbNavContent>
        <app-request title="Remove article" protection="anonymous" [request]="deleteArticle" [requestData]="deleteArticleData"></app-request>
      </ng-template>
    </li>
  </ul>

  <div [ngbNavOutlet]="nav"></div>
</div>
